docs/_build
.idea

# Ignore irrelevant files from the Sublime Text editor
*.sublime-workspace
*.sublime-project

# Ignore .hgignore for contributors using Mercurial.
.hgignore

# Ignore files generated during build
build/
